@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  color-scheme: light;
}

.main-container {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 1200px;
  /* max-width: 75rem; */
  display: grid;
  gap: 2rem;
}

.box {
  border: 3px solid #da0782;
  padding: 1rem;
}

.partner {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #da0782;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  grid-template-areas: "company-info team-members";
}

.company-info {
  grid-area: company-info;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 10rem;
  max-height: auto;
  margin-bottom: 2rem;
}

.text {
  margin-bottom: 1rem;
}

.btn {
  align-self: flex-start;
}

.member-photo {
  border-radius: 50%;
  margin-right: 0.5rem;
}

.member-info {
  flex-grow: 1;
}

.name {
  font-weight: bold;
}

.company-button {
  background-color: #da0782;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: none;
  /* border-radius: 5px; */
  text-align: center;
  background-color: #e7e0e0;
}

.member-info {
  flex-grow: 1;
}

.member-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.name {
  font-weight: bold;
  color: #da0782;
}

.title {
  margin-bottom: 1rem;
}

.linkedin-link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: auto;
  margin-left: auto; /* Add this line */
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
}

.linkedin-icon {
  margin-left: auto;
}
